# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

release
node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
!.vscode/launch.json 
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# debug file
xxx.kre

# XML schemas actually belong to Kresmer component
./xsd/**

# Exported files
network-core.svg
